<main>

    <%- include ('./partials/button.ejs', { btnType: "controls" }) -%>

        <div class="character-container">
            <div class="stand">
                <% for (let row=0; row < characterAmount; row++) { %>

                    <% if (characterObject[row]) { %>
                        <div data-character data-character-type="<%= characterObject[row].type %>" class="character <%= characterObject[row].type %>"> <%- include (`./partials/characters/${characterObject[row].name}`)-%> </div>
                    <% } else { %>
                        <div data-character class="character worm"> <%- include ('./partials/characters/character-worm.ejs')-%> </div>
                    <% } %>

                <% } %>
            </div>
        </div>

        <ul class="track-container">
            <% for (let row=0 ; row < characterAmount; row++) { %>
                <li data-track class="track <%= typeof characterObject[row] !== undefined && characterObject[row] ? `track--${characterObject[row].type}`: '' %> hide" <%= typeof characterObject[row] !== undefined && characterObject[row] ? (characterObject[row].type == "eyeguy" ? 'data-track-wide' : '') : '' %>>
                    <img src="/static/images/Ellipse 1.svg">

                    <% if (typeof characterObject[row] !== undefined && characterObject[row]  && characterObject[row].type == "eyeguy") { %>
                        <%- include ('./partials/button.ejs', { btnType: "cell--full" }) -%>
                    <% } else { %>
                        <div class="btn-container">
                            <% for (let col=0; col < cellAmount; col++) { %>
                                <%- include ('./partials/button.ejs', { btnType: "cell" , row: row, col: col})  -%>
                            <% } %>
                        </div>
                    <% } %>

                    <%- include ('./partials/button.ejs', { btnType: "undo" }) -%>
                </li>

                <% } %>
        </ul>

        <section class="mobile-text">
            <h1>We don’t support mobile devices</h1>
            <p>Please open this site on a larger device</p>
        </section>

</main>

<!-- <style>
    .hide {
        display: none!important;
    }

    .character-container {
        display: flex;
        height: 100px;

        margin-bottom: 40px;
        gap: 12px;
    }

    .character {
        height: 100%;
        width: 100px;
        display: block;
        background-color: pink;
    }

    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .column {
        min-height: 50px;
        /* flex: 1 1 0%; */
        display: flex;
    }

    .cell.sequence {
        background-color: pink!important;
    }

    .character.selected {
        background-color: red;
    }

    .cell,.track {
        outline: rgb(252, 213, 177) solid 0px;
        margin: 2px;
        flex: 1 1 0%;
        background-color: rgb(170, 170, 170);
        border: none;
    }

    .cell.active,
    .track.active {
        background-color: #000;
    }
</style> -->

<script>
        const noContext = document.querySelector("body");

        noContext.addEventListener("contextmenu", (e) => {
            e.preventDefault();
        });

        document.addEventListener('touchstart', function(e) {
            console.log('touch!');
            // if (e.touches.length === 2) {
            //     // store the positions of the two touch points
            //     touchStartPos = [e.touches[0].pageX, e.touches[0].pageY, e.touches[1].pageX, e.touches[1].pageY];
            // }
            });

    </script>

<script src="https://unpkg.com/@tonejs/midi"></script>
<script src="http://unpkg.com/tone"></script>

<script type="module" src="/static/js/audio.js" data-app-locals data-character-amount="<%= characterAmount %>"
    data-cell-amount="<%= cellAmount%>"></script>