<main>
    <h1>Hi!</h1>

    <div id="content">
        <h1>Tones</h1>

        <button class="hide" data-track-control-btns data-play-btn id="tone-play-toggle">Start</button>
        <button class="hide" data-track-control-btns data-stop-btn id="tone-play-stop">end</button>

        <div class="character-container">

            <% for (let row = 0; row < characterAmount; row++) { %>
                <div data-character class="character">
                    <%= row + 1 %>
                </div>
            <% } %>

        </div>

        <div class="container" id="tone-step-sequencer">
            <% for (let row = 0; row < characterAmount; row++) { %>
                <!-- <button class="hide" data-track-control-btns data-track-control-for="row" data-play-btn id="tone-play-toggle">Start</button>
                <button class="hide" data-track-control-btns data-track-control-for="row" data-stop-btn id="tone-play-stop">end</button> -->

                <div data-track class="column hide" <%= row == 5 ? 'data-track-wide' : '' %>>
                    <% if (row == 5) { %>
                        <div data-track-block class="track">

                        </div>
                    <% } else { %>
                        <% for (let col = 0; col < cellAmount; col++) { %>
                            <button data-track-cell class="cell" data-row="<%= row %>" data-col="<%= col %>">
                            </button>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>


    </div>
</main>

<style>
    .hide {
        display: none!important;
    }

    .character-container {
        display: flex;
        height: 100px;

        margin-bottom: 40px;
        gap: 12px;
    }

    .character {
        height: 100%;
        width: 100px;
        display: block;
        background-color: pink;
    }

    .container {
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    .column {
        min-height: 50px;
        /* flex: 1 1 0%; */
        display: flex;
    }

    .cell.sequence {
        background-color: pink!important;
    }

    .character.selected {
        background-color: red;
    }

    .cell,.track {
        outline: rgb(252, 213, 177) solid 0px;
        margin: 2px;
        flex: 1 1 0%;
        background-color: rgb(170, 170, 170);
        border: none;
    }

    .cell.active,
    .track.active {
        background-color: #000;
    }
</style>

<script src="https://unpkg.com/@tonejs/midi"></script>
<script src="http://unpkg.com/tone"></script>

<script type="module" src="/static/js/audio.js" data-app-locals data-character-amount="<%= characterAmount %>" data-cell-amount="<%= cellAmount%>"></script>
